* {
    font-family: 'Eurostile';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* padding = creates space between elements inside
margin = creates space between elements outside */

/* Chrome, Safari, Opera, and other WebKit-based browsers */
body::-webkit-scrollbar {
    display: none;
}

/* disbale scrollbar firefox*/
html {
    scrollbar-width: none;
}

/* disbale scrollbar IE and edge */
body {
    -ms-overflow-style: none;
}

header {
    background-color: #EE7120;
    position: fixed;
    z-index: 999;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 250px;    
}


.logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
    /* to pixel *16 */
}

.navigation a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2em;
    padding-left: 50px;
}

.navigation a:hover {
    color: #ffffff;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/enlarge_logov2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.6em;
}

.main h2 span {
    display: inline-block;
    margin: 20px;
    color: #EE7120;
    font-size: 3em;
    font-weight: 700;

}

.main h3 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 35px;
}

.main-button {
    color: #ffffff;
    background-color: #EE7120;
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-button:hover {
    background-color: #EE8C20;
    transform: scale(1.1);
}

.social-icons a {
    color: #EE7120;
    padding-right: 30px;
    padding-left: 3px;
    font-size: 1.7em;
}

.title {
    display: flex;
    justify-content: center;
    color: #EE7120;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 72px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 20%);
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}


.icon {
    text-align: center;
    color: #EE7120;
    font-size: 7em;
}

.description {

    text-align: center;
}

.description h3 {
    color: #EE7120;
    font-size: 1.5em;
    font-weight: 1000;
    margin: 10px;
}

.projects {
    background-color: #171A1E;
}

.projects .content {
    margin-top: 30px;
}

.projects .project-card {
    background-color: #fff;
    border: 2px solid #EE7120;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card .project-image:hover {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800px;
    margin-top: 12px;
}

.More-details {
    text-decoration: none;
    color: #EE7120;
}

.More-details:hover {
    color: #EE8C20;
}

.footer{
    background-color: #171A1E;
    color:#fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1em;
    font-weight: 700;
}

.footer-title span{
    color:#EE7120;
}

.footer .social-icons{
    font-size: 0.8em;
}

/* optimization for mobile devices */

@media (max-width:1023px){
     header {
        padding: 12px 20px;
     }

     .navigation a{
        padding-left: 20px;
     }
     
     .main{
        background: url(../images/logo_mobile.png) no-repeat;
        background-position-x: -1577px;
        background-position-y: 0px;
        padding-top: 40px; 
        min-height: 68vh;
    }

}